<div class="container">
  <p-card class="card-login" header="Login" [formGroup]="form">

    <div class="body-card">
      <div class="email">
        <p for="email">E-mail</p>
        <input pInputText id="email" formControlName="email">
      </div>

      <div class="password">
        <p for="password">password</p>
        <input pInputText type="password" formControlName="password" >
      </div>
    </div>
    <div class="button">
      <p-button (click)="login()" label="entrar" ></p-button>
      <p-button (click)="redirectToRegister()" label="Cadastre-se" ></p-button>

    </div>
  </p-card>
</div>
